<canvas #confettiCanvas class="confetti-canvas"></canvas>
<div class="review-container" *ngIf="!submitted">
  <h2>Lascia la Tua Recensione ✨</h2>

  <form (ngSubmit)="submitReview()" #reviewForm="ngForm">
    <input
      type="text"
      name="name"
      [(ngModel)]="review.name"
      placeholder="Il tuo nome (opzionale)"
    />

    <div class="stars-to-select">
      <ng-container *ngFor="let star of [1,2,3,4,5]">
        <span
          class="star-to-select"
          [class.filled]="star <= review.rating"
          [class.hovered]="star <= hoveredRating"
          (click)="setRating(star)"
          (mouseenter)="setHoveredRating(star)"
          (mouseleave)="clearHoveredRating()"
          >★</span
        >
      </ng-container>
    </div>

    <textarea
      name="text"
      [(ngModel)]="review.comment"
      placeholder="Scrivi la tua recensione... (max 150 caratteri)"
      rows="4"
      maxlength="150"
    ></textarea>

    <button type="submit">Invia Recensione</button>
  </form>
</div>

<div class="thank-you" *ngIf="submitted">
  <h3>🎉 Grazie per la tua recensione!</h3>
  <p>Ci aiuti a migliorare ogni giorno 💬</p>
  <img
    src="../../assets/leonardo-di-caprio.gif"
    alt="gif"
    class="thank-you-gif"
  />
</div>
