.error-popup {
  background-color: #ffc0bd;
  border: 2px solid #ab0c00;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 40px auto;
  font-family: "Segoe UI", sans-serif;
}

.error-popup h3 {
  color: #ff0000;
  margin-bottom: 10px;
}

.error-popup p {
  color: #ab0c00;
  margin-bottom: 0px;
}
