@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.bg-seppia-custom {
  background-color: #f8ddaf;
}

/* note that body is not present directly in app component but in its parent index.html */
body {
  background-color: #f2f2f2; /* Bianco sporco */
}

.navbar {
  position: fixed; /* is used to position an element relative to the browser window (viewport, and not to any parent element), meaning it stays in the same place even when the page is scrolled */
  top: 0;
  width: 100%;
  z-index: 1000; /* A higher z-index means the element will appear on top of elements with a lower z-index. Only works on elements with a positioning context */
  font-family: "Roboto", sans-serif;
}

body {
  padding-top: 56px; /* altezza della navbar */
}

.navbar-brand {
  font-size: 1.5rem;
  color: #563701e5;
}

.nav-link {
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 500; /* sets the thickness (or boldness) of the text to a medium weight (normal is 400, bold is 700) */
  color: #563701e5 !important; /* !important: is used to force a style rule to override any other conflicting rules, regardless of specificity or source order */
}

.nav-link:hover {
  background-color: rgba(138, 94, 60, 0.211); /* leggero highlight */
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

.navbar-nav .nav-link.active {
  color: #563701e5 !important;
  font-weight: bold;
}

/* Sidebar mobile */
.sidebar {
  position: fixed;
  top: 62px;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #ffdaa3d1;
  transition: left 0.3s ease;
  z-index: 1050;
  border: none;
}

.sidebar.open {
  left: 0;
}

.sidebar .nav-link {
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
}

.sidebar .nav-link:hover {
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  font-weight: bold;
}
