.bg-seppia-custom {
  background-color: #f4e1c1;
  color: #5a3e1b;
}

/* note that body is not present directly in app component but in its parent index.html */
body {
  background-color: #f2f2f2; /* Bianco sporco */
}

.navbar {
  position: fixed; /* is used to position an element relative to the browser window (viewport, and not to any parent element), meaning it stays in the same place even when the page is scrolled */
  top: 0;
  width: 100%;
  z-index: 1000; /* A higher z-index means the element will appear on top of elements with a lower z-index. Only works on elements with a positioning context */
}

body {
  padding-top: 56px; /* altezza della navbar */
}

.navbar-brand {
  font-size: 1.5rem;
  color: #5a3e1b;
}

.nav-link {
  margin-left: 1rem;
  font-weight: 500; /* sets the thickness (or boldness) of the text to a medium weight (normal is 400, bold is 700) */
  color: #5a3e1b !important; /* !important: is used to force a style rule to override any other conflicting rules, regardless of specificity or source order */
}

.nav-link:hover {
  background-color: rgba(138, 94, 60, 0.1); /* leggero highlight */
  color: #8b5e3c !important; /* colore in evidenza */
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

.navbar-nav .nav-link.active {
  color: #8b5e3c !important;
  font-weight: bold;
}

/* Sidebar mobile */
.sidebar {
  position: fixed;
  top: 56px;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #383333;
  transition: left 0.3s ease;
  z-index: 1050;
}

.sidebar.open {
  left: 0;
}

.sidebar .nav-link {
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
}
