.hero {
  background: #349caa;
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem 2rem;
  position: relative;
  color: white;

  h2 {
    font-size: 1.5rem;
  }
}

.lesson-title {
  color: #333;
}

.guarda-ora {
  margin-top: 1rem;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.responsive-video {
  width: 60%;
  max-width: 100%;
  height: auto;
  display: block;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;

    h2 {
      font-size: 1.25rem;
    }
  }

  .responsive-video {
    width: 90vw;
    height: auto;
  }

  .close-btn {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .hero {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;

    h2 {
      font-size: 1rem;
    }
  }

  .durata {
    font-size: 0.75rem;
  }

  .guarda-ora {
    font-size: 0.75rem;
  }

  .close-btn {
    font-size: 1rem;
  }
}
