<div class="hero">
  <h2>
    🎥 Lezione in evidenza: <span class="lesson-title">{{ lesson.title }}</span>
  </h2>

  <!-- Durata visibile subito -->
  <p *ngIf="!showPlayer">Durata: {{ duration }}</p>

  <!-- Pulsante per aprire il player -->
  <div class="guarda-ora">
    <button *ngIf="!showPlayer" (click)="showPlayer = true">Guarda ora</button>
  </div>
  <!-- Pulsante per chiudere il player -->
  <button *ngIf="showPlayer" class="close-btn" (click)="showPlayer = false">
    ✖
  </button>

  <!-- Player visibile -->
  <div class="video-container" *ngIf="showPlayer">
    <video
      #videoPlayer
      class="responsive-video"
      controls
    >
      <source [src]="lesson.videoUrl" type="video/mp4" />
      Il tuo browser non supporta il video.
    </video>
  </div>

  <!-- Player invisibile per caricare durata -->
  <video
    #hiddenVideo
    (loadedmetadata)="updateDuration(hiddenVideo)"
    style="display: none"
  >
    <source [src]="lesson.videoUrl" type="video/mp4" />
  </video>
</div>
