.hero {
  text-align: center;
  padding: 4rem;
  background: #279e6d;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  font-size: 2rem;
}

.plans {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 3rem;
}

.offers,
.faq {
  padding: 2rem;
  text-align: center;
}

.offer-icon {
  font-size: 3rem;
  padding: 2rem;
  margin-top: 2rem;
}

.icon-glow {
  animation: glow 1.5s infinite alternate;
  margin-left: 0.5rem;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #ffd60a, 0 0 10px #ff3b30;
  }
  to {
    text-shadow: 0 0 20px #ffd60a, 0 0 30px #ff3b30;
  }
}
