.hero {
  text-align: center;
  padding: 6rem 1rem;
  background: #279e6d;
  font-family: Helvetica, sans-serif;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  font-size: 2rem;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 3rem;
  padding-bottom: 0rem;
}

@media (max-width: 1125px) {
  .plans {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 3.5rem;
  }
}

.offers,
.faq {
  padding: 2rem;
  text-align: center;
}

.offer-icon {
  font-size: 3rem;
  padding: 2rem;
  margin-top: 2rem;
}

.icon-glow {
  animation: glow 1.5s infinite alternate;
  margin-left: 0.5rem;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #ffd60a, 0 0 10px #ff3b30;
  }
  to {
    text-shadow: 0 0 20px #ffd60a, 0 0 30px #ff3b30;
  }
}

.gradient-text {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(120deg, #00a6ff, #ff007b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .gradient-text {
    font-size: 3.5rem;
  }
}
