.icon {
  font-size: 3rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.offer-banner {
  background: linear-gradient(135deg, #ff3b30, #ffd60a);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 70%;
  margin: 1rem auto;
  box-shadow: 10px 10px 20px rgba(255, 59, 48, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInUp 1s ease-out;
  position: relative;
  overflow: hidden;
}

.offer {
  padding: 2rem;
  margin-top: 1rem;
}

.offer-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
  text-shadow: 1px 2px 4px black;
}

.offer-description {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  margin-top: 0.75rem;
}

.offer-badge {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-size: 1.25rem;
  margin-top: 1rem;
  display: inline-block;
  box-shadow: 0 0 10px #007aff;
}

.pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 122, 255, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(0, 122, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 122, 255, 0);
  }
}

@media (max-width: 768px) {
  .offer {
    margin-top: 0rem;
  }

  .offer-banner {
    width: 100%;
  }

  .offer-title {
    font-size: 0.9rem;
  }

  .offer-description {
    font-size: 0.75rem;
    margin-top: 1rem;
  }

  .offer-badge {
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) and (min-width: 550px) {
  .offer-title {
    font-size: 2rem;
  }

  .offer-description {
    font-size: 1.25rem;
  }
}

@media (max-width: 549px) and (min-width: 450px) {
  .offer-title {
    font-size: 1.5rem;
  }

  .offer-description {
    font-size: 1rem;
  }
}

@media (max-width: 449px) and (min-width: 400px) {
  .offer-title {
    font-size: 1.25rem;
  }

  .offer-description {
    font-size: 0.75rem;
  }
}
