<!-- Contenuto Home centrato sotto la navbar -->
<div class="welcome-section">
  <div class="welcome-text-custom fade-in">
    <h5 class="welcome-text-bold">Benvenuto su TutorOnline</h5>
    <h6 class="welcome-text">La Tua Piattaforma di Lezioni Private Online</h6>
  </div>
</div>

<!--Frase motivazionale introduzione contenuti-->
<div class="motivational-sentence">
  <h1 class="motivational-text">
    "Non ho mai insegnato nulla ai miei studenti; ho solo cercato di metterli
    nelle condizioni migliori per imparare" — Albert Einstein.
  </h1>
</div>

<!--Presentazione personale-->
<div class="personal-section">
  <div class="personal-container">
    <div class="personal-column photo-column">
      <img src="../../assets/foto-profilo.NEF" alt="La mia foto" />
    </div>
    <div class="personal-column text-column">
      <p>
        Ciao! Mi chiamo Daniele Mastrostefano, e proprio come espresso nella
        frase precedente, il mio compito è guidarti in un percorso di
        comprensione, aiutandoti a sviluppare capacità di ragionamento e
        deduzione che ti rendano autonomo nel tempo. <br />
        Con 3 titoli accademici e oltre 15 anni di esperienza alle spalle con
        studenti di ogni età e indirizzo scolastico, credo di essere il tutor
        più adatto per te! <br />
        Insieme analizzeremo i tuoi punti di forza e i gap da colmare,
        definiremo gli obiettivi e costruiremo un piano pensato, non solo per
        ottenere risultati immediati, ma anche per lasciare qualcosa che duri
        nel tempo. <br />
        Sono disponibile per recupero materie e preparazione esami scolastici,
        test d'ingresso universitari, certificazioni, formazione per le
        olimpiadi, ripassi estivi e molto altro ancora. <br />
        Il mio metodo, flessibile e mirato, è adatto a tutti, ed ho lavorato con
        successo anche con studenti con DSA, dislessia, discalculia e altri
        disturbi specifici dell'apprendimento. <br />
        Non perdere ulteriore tempo! Clicca qui sotto per scoprire di più su di
        me ed iniziare questa nuova avventura insieme.
      </p>
      <div class="mt-4">
        <a routerLink="/info" routerLinkActive="active" class="btn btn-lg"
          >Scopri di più</a
        >
      </div>
    </div>
  </div>
</div>

<!--Punteggio recensioni-->
<section class="recensioni-section">
  <h2>Cosa Dicono del Nostro Servizio</h2>
  <div class="star-rating">
    <div class="stars">
      <div class="filled-stars" [style.width.%]="(mediaRating / 5) * 100"></div>
    </div>
    <span class="rating-value" *ngIf="mediaRating !== undefined"
      >{{ mediaRating.toFixed(2) }}/5</span
    >
  </div>

  <!--Recensioni in rilievo-->
  <div class="recensioni-slider">
    <div class="recensioni-track">
      <div
        class="recensione-card"
        *ngFor="let recensione of recensioni$ | async"
      >
        <h3>{{ recensione.name || 'Anonimo' }}</h3>
        <p>"{{ recensione.comment }}"</p>
        <p>⭐ {{ recensione.rating }}/5</p>
      </div>
    </div>

    <div class="recensioni-button-container">
      <button class="btn btn-lg" (click)="vaiAlleRecensioni()">
        Tutte le recensioni
      </button>
    </div>
  </div>
</section>

<!--Footer-->
<footer class="site-footer">
  <p>
    Sito web realizzato e gestito da Daniele Mastrostefano - Tutti i diritti
    sono riservati all'autore &copy; 2025
  </p>
</footer>

<router-outlet></router-outlet>
